/* .home-body {
  border: 1px solid blue;
} */

.resource-list {
  /* border: 1px solid red; */
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 36rem);
  grid-template-rows: min-content;
  grid-auto-rows: 19.2rem;
  margin-inline: auto;
  width: fit-content;
  list-style: none;
  gap: 3.2rem;
}

/* .resource-list-item {

} */

@media only screen and (max-width: 1200px) {
  .resource-list {
    grid-template-columns: repeat(2, 36rem);
  }
}

@media only screen and (max-width: 800px) {
  .resource-list {
    grid-template-columns: repeat(1, 36rem);
  }
}
